body {
  background: gray;
}

table {
  height: 450px;
  width: 450px;
  border: 1px solid black;
  margin: 0 auto;
}

td {
  border: 2px solid black;
  background: white;
  text-align: center;
  width: 150px;
  height: 150px;
  font-size: 50px;
  margin: 0;
  padding: 0;
}
