body {
  background: grey;
}

form {
  border: 1px solid black;
  background: white;
  height: 50vh;
  width: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 25vh;
}
input, label {
  padding: 10px;
  margin: 0 10px;
}
input[type="submit"] {
  margin-top: 50px;
  background: maroon;
  color: white;
}
h3 {
  text-align: center;
}
